h1{
    display: flex;
    justify-content: center;
    color: rgb(55, 69, 83);
}
section{
    display: flex;
    justify-content: center;
    height: 70vh;
    padding: 40px;
    margin-top: 70px;
}
.container{
    width: 70vh;
    border: 2px solid black;
    border-radius: 6px;
    background-color: rgb(128, 152, 226);
}
input{
    margin: 15px;
    height: 40px;
    /* border: 2px solid black; */
    width: 50%;
    border-radius: 6px;
    font-size: larger;
}
button{
    height: 40px;
    padding: 7px;
    font-size: larger;
    background-color: gainsboro;
    border-radius: 4px;
    cursor: pointer;
}
.add :hover{
    background-color: aqua;
}
.add:focus{
    border: 1px solid black;
}
ul{
    height: 75%;
    overflow-y: auto;
}
li{
    color: aliceblue;
    font-size: x-large;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
}
li span{
    width: 60%;
    font-size: larger;
    text-transform: capitalize;
    word-break: break-all;
}
li button{
    height: auto;
}